.project-grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-gap: 10px;
  text-align: center;
}

.project-item {
  grid-column: 2/5;
  padding: 1.2em;
  width: 50%;
}

.project-item:nth-child(2) {
  grid-column: 5/8;
  padding: 1.2em;
  width: 50%;
}

.project-item:nth-child(3) {
  grid-column: 8/11;
  padding: 1.2em;
  width: 50%;
}

.line {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
