.projects {
  padding-top: 3em;
  text-align: center;
}

.project-page p {
  padding-top: 3em;
  text-align: center;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-gap: 10px;
  text-align: center;
  justify-items: center;
}

.project-item {
  grid-column: 2/5;
  padding: 1.2em;
  position: relative;
}

.project-item:nth-child(2) {
  grid-column: 5/8;
  padding: 1.2em;
}

.project-item:nth-child(3) {
  grid-column: 8/11;
  padding: 1.2em;
}

.project-image {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.project-item:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}

.more-coming-soon {
  padding-bottom: 3em;
  text-align: center;
}

.tech-stack {
  padding-top: 0px;
  margin-top: 0px;
}

.text {
  display: flex;
  flex-direction: column;
  align-content: center;
  color: white;
  font-size: 1.2em;
  position: absolute;
  top: 40%;
  width: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.text a:hover {
  font-weight: bold;
  color: black;
}

.line {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
