body {
  font-family: "Raleway";
  font-size: 1.5em;
}

.placeholder {
  background: blue;
}

.arrow-down-router {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 20px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  z-index: 999;
  width: 5.5em;
}

.arrow-up-router {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 20px;
  z-index: 999;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 4em;
}

.arrow--down {
  transform: rotate(-90deg);
  cursor: pointer;
  width: 3em;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

.arrow--up {
  transform: rotate(90deg);
  cursor: pointer;
  width: 3em;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

.next-text {
  font-size: 0.6em;
  margin: 0 auto;
}

.main-content {
  grid-row: 2 / span 3;
  grid-column: 3 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  position: fixed;
  top: 35px;
  z-index: 9998;
  cursor: pointer;
  padding: 5px 4px;
  background-color: transparent;
  right: 38px;
}

.navbar i {
  display: block;
  width: 42px;
  height: 2px;
  margin: 8px;
  background-color: #7a7a7a;
}

.contact-icon {
  height: 2em;
  position: fixed;
  top: 90px;
  cursor: pointer;
  padding: 5px 4px;
  right: 42px;
}

.contact-icon:hover {
  height: 2.2em;
  right: 40px;
  transform: all;
}
