.App {
  text-align: center;
}

.landing-page {
  position: absolute;
  display: grid;
  grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
  grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
}

.project-page {
  /* position: absolute;
  display: grid;
  grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
  grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr; */
}
